#headsign {
    color: blue;
    display:inline;
}
#Otsikko {
    border-radius: 10px;
    position: absolute;
    left: 10%;
    border: 10px solid gray;
    width: 80%;
    height: 15%;
    background-color: cyan;

}
#Headerit {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 40%;
    left: 30%;
}
#kelloDiv {
    position: absolute;
    text-align: center;
    height: 80%;
    width: 10%;
    left: 75%;
}

#bussiAikataulu {
    position: absolute;
    top: 30%;
    height: 70%;
    width: 90%;
}

body {
    background-color: pink;
}
.aikatauluField {
    border-radius: 10px;
    padding: 10px;
    border: 5px solid gray;
    position: absolute;
    width: 40%;
    height: 30%;
}
#Kyllikinportti1 {
    left: 10%;
}

#Kyllikinportti2 {
    left: 60%;
}
#radiokatu1 {
    top:40%;
    left: 10%;
}

#radiokatu2 {
    top:40%;
    left: 60%;
}
#bussiNro {
    display:inline;
    font-weight:900;
}
.trippi {
    float:left;
    position: relative;
    border: 1px solid black;
    width: 80%;
    left:10%;
}
.suunta {
    position: relative;
    width: 80%;
    left: 10%;
}
.arrival {
    display:inline;
    left: 80%;
    margin-right: auto;
}
.trippiLeft {

    position: relative;
    left:5%;
    width:60%;
    float:left;
}
.trippiRight {

    position: relative;
    width: 30%;
    float:left;
    left:25%;
    
}